#{extends 'three_panel.html' /}
<link rel="stylesheet" type="text/css" media="screen"
      href="@{'/public/stylesheets/messageEditor.css'}" />
<div id="contentArea-BigPage">
  #{form @Messages.sendMessage()}
    <ul class="message-form-list">
      <li>
        <label for="recipientUsername"> To: </label>
        <input type="text" class="autocomplete" name="recipientUsername" data-url="@{Users.autocompleteNames()}" id="recipientUsername" />
      </li>
      <li>
        <label for="content">Your message: </label>
        <textarea name="content" id="content"></textarea>
      </li>
      <li>
        <input type="submit" value="Send Message" />
      </li>
      #{ifErrors}
        <ul style="color: red">
          #{errors}
            <li>${error}</li>
          #{/errors}
        </ul>
      #{/ifErrors}
    </ul>
  #{/form}
</div>

<script src="@{'/public/javascripts/autocomplete.js'}" type="text/javascript" charset="utf-8"></script>
