#{extends 'main.html' /}
<table>
  <tr>
    <td>
      [Picture]
      #{if user != NULL}
      
      <br>
      ${user.email}
      
      <br>
      <a href="@{Application.news()}">news</a>
      <br>
      <a href="@{Application.about()}">about</a>
      <br>
      <a href="@{Checkin.checkin()}">Checkin</a>
      <br><a href="@{Messages.inbox()}">Inbox</a>
      <br>friends:<br>
      #{list items:user.confirmedFriends(), as:'friendship'}
        <a href="@{Application.news(friendship.to.id)}">${ friendship.to.name }</a><br>
      #{/list}
    </td>
    <td>
      <h1>Inbox</h1> 
      #{if user.checkFriendship(user.id) == 'Request Friendship'}
        <a id="friend-button" href="@{Application.requestFriends(user.id)}">
	  ${user.checkFriendship(user.id)}
        </a>
      #{/if}
      #{elseif user.checkFriendship(user.id) == 'Friendship Requested'}
        Friendship Requested
      #{/elseif}
      #{elseif user.checkFriendship(user.id) == 'Friends'}
        Friends :) 
        <a id="friend-button" href="@{Application.removeFriends(user.id)}">
	  Remove friend
        </a>
      #{/elseif}
      <br> <a href ="@{Messages.createMessage()}">Create Message</a>
      <h3>Messages</h3>
      #{list items:user.inbox(), as:'item'}
      <div class ="message">
        #{if item.author != NULL}
          <span class ="message-author">Author: ${item.author.username}</span>
        #{/if}
        <div>
          #{if item.recipient != NULL}
            <span class ="message-recipient">Recipient: ${item.recipient.username}</span>
          #{/if}
        </div>
        #{if item.date != NULL}
          <span class ="message-date">${item.date.format('dd MMM yy')}</span>
        #{/if}
        <div class="post-title">
         Title: ${item.title}
        </div>
        <div class="post-content">
          ${item.content}
        </div>
      #{/list}
        </div>     
      #{/if}
    </td>
  </tr>
</table>
