#{extends 'two_panel.html' /}
<link rel="stylesheet" type="text/css" media="screen"
      href="@{'/public/stylesheets/messages.css'}" />

<div id="contentArea-BigPage">
  
  <h1>Inbox</h1>
  <hr />
  <br />
  #{if user.checkFriendship(user.id) == 'Request Friendship'}
    <a id="friend-button" href="@{Application.requestFriends(user.id)}">
      ${user.checkFriendship(user.id)}
    </a>
  #{/if}
  #{elseif user.checkFriendship(user.id) == 'Friendship Requested'}
    Friendship Requested
  #{/elseif}
  #{elseif user.checkFriendship(user.id) == 'Friends'}
    Friends :) <a id="friend-button"
                  href="@{Application.removeFriends(user.id)}"> Remove friend </a>
  #{/elseif}
  <br>
  <a class="btn btn-primary" href="@{Messages.createMessage()}"><i class="icon-plus"></i> Create Message</a>
  
  <h2>Messages</h2>
  <ul class="message-list">
    #{list items:user.inbox(), as:'item'}
      <li class="message">
        <span class="message-from"><a href="@{Application.news(item.author.id)}">From: ${item.author.name }</a></span>
        <span class="message-subject"> Subject: ${item.title}</span>
        <span class="message-date">${item.date.format('dd MMM yy')}</span>
        <br />
        <span class="message-content">Message: ${item.content.nl2br()}</span>
      </li>
    #{/list}
  </ul>
</div>
