<!DOCTYPE html >
<html>
  <script src=@{'/public/javascripts/jquery-1.6.4.min.js'}></script>
  <script type="text/javascript">
  function checkValidName(name) {
  }
  
  $(document).ready(function(){
  
  $('#username').blur(function(event) {
    var postData = {
	  name : $("#username").val(),
	};
	$.post("@{Signup.isValidUserName()}", postData, function(data) {
	    $('#nameverification').html(data);
    });
  });
  
  $('#email').blur(function(event) {
    var postData = {
	  email : $("#email").val(),
	};
	$.post("@{Signup.isValidEmail()}", postData, function(data) {
	    $('#emailverification').html(data);
    });
	
  });
  
  $('#confirmemail').blur(function(event) {
    if ($("#email").val() == $('#confirmemail').val()) {
	  $('#emailverification2').html(":)");
	} else {
	  $('#emailverification2').html("Email addresses do not match");
	}
  });
  
  $('#password').blur(function(event) {
    if ($('#password').val().length < 6) {
	  $('#passwordverification').html("Password must be at least 6 characters");
	  return;
    } 
	
    var count = 0;
    //UpperCase
    if( /[A-Z]/.test($('#password').val()) ) {
      count += 1;
    }
    //Lowercase
    if( /[a-z]/.test($('#password').val()) ) {
      count += 1;
    }
    //Numbers  
    if( /\d/.test($('#password').val()) ) {
      count += 1;
    } 
    //Non alphas( special chars)
    if( /\W/.test($('#password').val()) ) {
      count += 1;
    }
    if (count < 3) {
	  $('#passwordverification').html("Password must have atleast one lowercase letter, one upper case, and one nonletter character");
	  return;
    } else {
	   $('#passwordverification').html(":)");
	}
  });
  
  $('#confirmpassword').blur(function(event) {
    if ($("#password").val() == $('#confirmpassword').val()) {
	  $('#passwordverification2').html(":)");
	} else {
	  $('#passwordverification2').html("Passwords do not match");
	}
  });
  
  $('#signup').click(function(event) {
    var postData = {
	  firstName : $("#firstname").val(),
	  lastName : $("#lastname").val(),
	  username : $("#username").val(),
	  email : $("#email").val(),
	  email2 : $("#confirmemail").val(),
	  password : $("#password").val(),
	  password2 : $("#confirmpassword").val(),
	  code : $("#code").val(),
	  randomID : $("#randomID").val(),
	};
	$.post("@{Signup.signup_user()}", postData, function(data) {
		if (data != "") {
			$('#errors').html(data);
			$.post("@{Signup.get_new_captcha()}", function(id) {
				$("#randomID").val(id);
				$("#captchaid").attr('src',"/captcha?id=" + id);
			});
		}
		else {
			window.location.href = "@{Secure.login}";
		}
    });
  });
  });
  </script>
	<center>
		<h2>Sign up</h2>
		<hr />
		<table>
			<tr>

				<td><label>First Name: </td>
				<td><input id="firstname" type=text size="35" maxlength="30">
				</td>
			</tr>
			
			<tr>
				<td><label>Last Name: </td>
				<td><input id="lastname" type=text name=newUser.lastName size="35" maxlength="30">
				</td>
			</tr>
			<tr>
				<td><label>E-mail: </td>
				<td><input type=text id="email" name=newUser.email size="35">
				</td>
				<td><label id="emailverification" ></td>
			</tr>
			<tr>
			  <td><label>Confirm email: </td>
				  <td><input id="confirmemail" type=text name=newUser.email2 size="35">
				  </td>
				<td><label id="emailverification2" ></td>
			  <td>
			</tr>
			<tr>
			  <td><label>User name: </td>
				<td><input id="username" type=text name=newUser.username size="35" maxlength="16">
				</td>
				<td><label id="nameverification" ></td>
			  <td>
			</tr>
			<tr>
			  <td><label>Password: </td>
				  <td><input id="password" type=password name=newUser.password size="35" maxlength="16">
				  </td>
				<td><label id="passwordverification" ></td>
			  <td>
			</tr>
			<tr>
			  <td><label>Confirm password: </td>
				  <td><input id="confirmpassword" type=password name=newUser.password2 size="35" maxlength="16">
				  </td>
				<td><label id="passwordverification2" ></td>
			  <td>
			</tr>
			<tr>
			  <td align="left right"><label for="code">Please type the code below: </label>
			  <br/>
			  <img id="captchaid" src="@{Signup.captcha(randomID)}" /><br/>
			  <input type="text" name="code" id="code" size="18" value="" />
			  <input type="hidden" name="randomID" id="randomID" value="${randomID}" />
			  </td>
			</tr>
		</table>
		<table>

			<tr>

				<td colspan=3>
            <input type="submit" value="Signups" id="signup" class="ui_TextAreaButton" />     <input
					type=submit value=Cancel /> 
					<ul id="errors" style="color: red">
					#{ifErrors}
					<ul style="color: red">
						#{errors}
						<li>${error}</li> #{/errors}
					</ul> #{/ifErrors}</td>
					</td>
			</tr>
		</table>
	</center>

