#{extends 'two_panel.html' /}

	<div id="contentArea-BigPage">

<h2>All Friends:</h2>
<hr/>

<br />


#{list items:user.confirmedFriends(), as:'friendship'}
<div>
  <img class="thumbnail" style = "width: 30px; height: 30px; vertical-align: middle"
    src=@{Photos.getPhoto(friendship.to.profile.profilePhoto.id)} ALIGN=LEFT />
    <a href="@{Application.about(friendship.to.id)}">${
    	friendship.to.name }</a>
    <br>	
    <a id="friend-button" href="@{Relationships.unFriend(friendship.id)}">remove</a>
</div>
#{/list}

</div>
