#{extends 'two_panel.html' /}

	<div id="contentArea-BigPage">

<h2>All Friends:</h2>
<hr/>

<br />

%{boolean toggle = true;}%
<table>
#{list items:user.confirmedFriends(), as:'friendship'}
<tr>
#{if (toggle == true)}
<td>
<div style="background-color:white; width = 100%; align=left">
  <img class="thumbnail" style = "width: 30px; height: 30px; vertical-align: middle"
    src=@{Photos.getPhoto(friendship.to.profile.profilePhoto.id)} ALIGN=LEFT />
    <a href="@{Application.about(friendship.to.id)}">${
    	friendship.to.name }</a>
    <br />	
    <a id="friend-button" href="@{Relationships.unFriend(friendship.id)}">remove</a>
    <br />
    %{toggle = false;}%
</div>
</td>
#{/if}

#{else}
<td>
<div style="background-color:; width=100%; align = left">
  <img class="thumbnail" style = "width: 30px; height: 30px; vertical-align: middle"
    src=@{Photos.getPhoto(friendship.to.profile.profilePhoto.id)} ALIGN=LEFT />
    <a href="@{Application.about(friendship.to.id)}">${
      friendship.to.name }</a>
    <br />  
    <a id="friend-button" href="@{Relationships.unFriend(friendship.id)}">remove</a>
    <br /> 
      %{toggle = true;}%
</div>
</td>
#{/else}
</tr>
#{/list}
</table>
</div>
