div.globalContentAbout{
	width: 100%;
	min-height: 100px;
	margin-top:1%;
}

div.LeftColumnAbout {
	width: 48%;
	float:left;
}

div.Panel{
	width:100%;
	margin-top:15px;
	background: white;
	border: 1px solid #C4CDE0;
	border-bottom-width: 2px;
	-webkit-border-radius: 3px;
}

div.RightColumnAbout{
	width: 48%;
	float:right;
}

span.PanelTitle{
	padding-left: 22px;
	font-size: 16px;
	color: #333;
	line-height: 1.28;
	text-align: left;
	direction: ltr;
	font-weight: bold;
	text-decoration: underline;
}

button.EditButton{
	float: right;
}

div.showEditAboutMe{
	display: block;
}


