/** Main layout **/

html, body {
  font-family: Helvetica, Arial, Sans !important;
}

body {
  margin: 0;
  background-color: ${skin.get("bodyBGColor")}
}

a {
	text-decoration: none;
}

#logo {
  font: ${skin.get("logoFontSize")}pt;
  color: ${skin.get("logoColor")};
  padding: 0px 10px 0px 20px;
}

.logo {
  font-weight: bold;
  font-family: ${skin.get("logoFontType")};
}

header {
  background-color: #${skin.get("headerBGColor")};
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height:30px;
}

#header {
	margin: auto;
	padding: 2px 0 2px 0;
	width: 980px;
}

#header a {
	color: white;
}

#main {
  margin: 0px 0px 10px 20px;
  padding: 30px 0 0 0;
}

footer {
  text-align: ${skin.get("footerTextAlign")};
  font: ${skin.get("footerFontSize")}pt italic;
  color: ${skin.get("footerColor")};
}

.section {
  vertical-align: ${skin.get("sectionAlign")};
  padding: 5px 0px 0px 0px;
}

label {
  font: ${skin.get("labelFontSize")}pt;
  color: ${skin.get("labelColor")};
}

.comment {
  border: ${skin.get("commentBorderSize")}px solid ${skin.get("commentBorderColor")};
  background-color: #${skin.get("commentBGColor")};
}

.button {
  border-radius:${skin.get("buttonBorderRadius")}px;
  border: ${skin.get("buttonBorderSize")}px solid ${skin.get("buttonBorderColor")};
  box-shadow: 1px 1px 2px #${skin.get("buttonBoxShadowColor")};
  background-color: ${skin.get("buttonBGColor")};
  text-decoration: ${skin.get("buttonTextDec")};
  padding: 0px 2px 0px 2px; // left and right padding
}

a.button:link {color:${skin.get("buttonLinkUnvisitedColor")};}      /* unvisited link */
a.button:visited {color:${skin.get("buttonLinkVisitedColor")};}  /* visited link */
a.button:hover {background-color:#${skin.get("buttonLinkHoverColor")};}  /* mouse over link */
a.button:active {color:${skin.get("buttonLinkSelectedColor")};}  /* selected link */

a.logo:link {text-decoration:none;}
a.logo:visited {text-decoration:none;}
a.logo:hover {text-decoration:none;}
a.logo:active {text-decoration:none;}

.post {
  padding: 10px 0px 0px 0px;
}
