/** Main layout **/

html, body {
    font-family: Helvetica, Arial, Sans !important;
}

body {
	 margin: 0;
}

a {
	text-decoration: none;
}

#logo {
	font: 18pt;
	color: white;
	padding: 0px 10px 0px 20px;
}

.logo {
  font-weight: bold;
  font-family: helvetica;
}

#orange_bar {
	background-color: #CC5500;
}

#header {
	margin: auto;
	padding: 2px 0 2px 0;
	width: 980px;
}

#header a {
	color: white;
}

div#content{
	margin: auto;
	width: 980px;
}

#main {
	margin: 0px 0px 10px 20px;
}

#footer {
	text-align: center;
	font: 10pt italic;
	color: gray;
}

.section {
	vertical-align: top;
	padding: 5px 0px 0px 0px;
}

label {
}

.comment {
	border: 2px solid white;
	background-color: #EEEEEE;
}

.button {
  border-radius:4px;
	border: 1px solid black;
	box-shadow: 1px 1px 2px #888888;
  background-color: white;
  text-decoration:none;
  padding: 0px 2px 0px 2px; // left and right padding
}
    
a.button:link {color:black;}      /* unvisited link */
a.button:visited {color:black;}  /* visited link */
a.button:hover {background-color:#E0E0FF;}  /* mouse over link */
a.button:active {color:black;}  /* selected link */  

.post {
	 padding: 10px 0px 0px 0px;
}
