/** Main layout **/

html, body {
  font-family: Helvetica, Arial, Sans !important;
}

body {
  margin: 0;
  background-color: #EEEEEE;
  background-image:url(${skin.get("bodyBGPhoto")});
  font-size: 15px;
}

a:link {
  color: #3B5998;
  text-decoration: none;
}

a:visited {
  color: #3B5998;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
  font-weight: bold;
}

.note {
  color: #aaaaaa;
  font-weight: bold;
  font-size: 11px;
}

/** header **/
#header {
  background-image: url('/public/images/headerBG.png'); /*Little spiffier header bar */
  background-repeat: repeat-x;
  background-color: #${skin.get("headerBGColor")};
  padding-top: 5px;
  width: 100%;
  height: 40px;
  line-height:30px;
}

#header a {
  color:white;
}


#logo {
  color: ${skin.get("logoColor")};
  padding: 0px 10px 0px 20px;
}

.logo {
  font-weight: bold;
  font-family: ${skin.get("logoFontType")};
  font-size: 20px; /** i dont think a company's logo/identity should be customizable **/
}


#header .account {
  float: right;
  padding-right: 10px;
  font-size: 13px;
}

#header .account a {
  color: #ffdac6;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 5px;
  border-left: 1px solid #e3986a;
}

#header .account a:hover {
  color: white;
  text-decoration: none;
}

/** left side nav **/
.left-side-nav {	
  line-height: 25px;
  /*Code to make the post stick out against changed background */
  background-color: white;
  outline: #CCCCCC groove 1px;
  margin: 5px 5px 5px; /*top (right & left) left*/
  
  
}

.left-side-nav a {
  color: black;
}

.left-side-nav a:hover {
  background-color: #eeeeee;
  text-decoration: none;
}

#name_avatar {
}

.profile-pic {
  position: relative;
}

.profile-pic a{
  display: none;
}

.profile-pic img{
  max-width: 140px;
  vertical-align: middle;
}

.profile-pic:hover a{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, .6);
  font-weight: normal;
  padding: 4px 6px;
}

/** contentArea **/
#contentArea {

  border-left: 1px solid #dddddd;    
}


/** pagelet **/
.pagelet {
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #bbbbbb;
  margin-bottom: 20px;
}

.pagelet a {
  padding: 0 15px 0 15px;
  font-weight: bold;
  font-size: 12px;
}

.section {
  vertical-align: ${skin.get("sectionAlign")};
  padding: 5px 0px 0px 0px;
}

label {
  font-size: ${skin.get("labelFontSize")}pt;
  color: ${skin.get("labelColor")};
}

.comment {
  border: ${skin.get("commentBorderSize")}px solid ${skin.get("commentBorderColor")};
  background-color: #${skin.get("commentBGColor")};
  width: 420px;
}

.comment-textarea {
  border: ${skin.get("commentBorderSize")}px solid ${skin.get("commentBorderColor")};
  background-color: #${skin.get("commentBGColor")};
}

.button {
  font-size:x-small;
  border-radius:${skin.get("buttonBorderRadius")}px;
  border: ${skin.get("buttonBorderSize")}px solid ${skin.get("buttonBorderColor")};
  box-shadow: 1px 1px 2px #${skin.get("buttonBoxShadowColor")};
  background-color: ${skin.get("buttonBGColor")};
  text-decoration: ${skin.get("buttonTextDec")};
  padding: 0px 2px 0px 2px;
}

a.button:link {color:${skin.get("buttonLinkUnvisitedColor")};}      /* unvisited link */
a.button:visited {color:${skin.get("buttonLinkVisitedColor")};}  /* visited link */
a.button:hover {background-color:#${skin.get("buttonLinkHoverColor")};}  /* mouse over link */
a.button:active {color:${skin.get("buttonLinkSelectedColor")};}  /* selected link */

a.logo:link {text-decoration:none;}
a.logo:visited {text-decoration:none;}
a.logo:hover {text-decoration:none;}
a.logo:active {text-decoration:none;}

.post {
  width: 100%;
  border-bottom: 1px solid #dddddd;
   /*Code to make the post stick out against changed background */
  background-color: white;
  outline: #CCCCCC groove 1px;
  margin: 10px 5px 10px; /*top (right & left) left*/
  
}

.post .left {
  float: left;
}

.post .post-author {
  font-size:14px;
  font-weight:bold;
}

.post .individual-post {
  float: right;
  margin-left: 5px;
  width: 440px;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  padding: 0 0 10px 0;
}

.post-content {
  width: 100%;
  margin-bottom: 3px;
}

.post .individual-post-metadata {
  color: gray;
}

.comment-content {
  width: 450px;
  font-size: 0.95em;
}
.post-date {
  color: gray;
  font-size: x-small;
}
.comment-date {
  color: gray;
  font-size: x-small;
}

.main-content {
  margin-top:30px;
  padding-bottom:10px;
}
.main-content div {
  padding:3px;
  float:left;
  padding:2px;
  float:left;
}
#content-left {
  width:160px;
  margin-top: 20px;
}
#content-middle {
  margin-left:10px;
  margin-top:10px;
  width:550px;
  border-left: 1px;
  border-left-color: #98AFC7;
  border-left-style: dotted;
}
#content-right {
  margin-left:10px;
  width:134px;
}

#footer {
  float:left;  
  padding:10px;
  width:878px;
  margin-top:10px;
  margin-bottom:10px;
  text-align: ${skin.get("footerTextAlign")};
  font: ${skin.get("footerFontSize")}pt italic;
  color: ${skin.get("footerColor")};
  border-top:thin solid;
}