/** Main layout **/

html, body {
  font-family: Helvetica, Arial, Sans !important;
}

body {
  margin: 0;
  background-color: ${skin.bodyBGColor}
}

#logo {
  font: ${skin.logoFontSize}pt;
  color: ${skin.logoColor};
  padding: 0px 10px 0px 20px;
}

.logo {
  font-weight: bold;
  font-family: ${skin.logoFontType};
}

header {
  background-color: #${skin.headerBGColor};
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height:30px;
}

header a {
  color:white;
}

#logout {
  float:right;
  margin-right: 1em;
}

#main {
  margin: 0px 0px 10px 20px;
  padding: 30px 0 0 0;
}

footer {
  text-align: ${skin.footerTextAlign};
  font: ${skin.footerFontSize}pt italic;
  color: ${skin.footerColor};
}

.section {
  vertical-align: ${skin.sectionAlign};
  padding: 5px 0px 0px 0px;
}

label {
  font: ${skin.labelFontSize}pt;
  color: ${skin.labelColor};
}

.comment {
  border: ${skin.commentBorderSize}px solid ${skin.commentBorderColor};
  background-color: #${skin.commentBGColor};
}

.button {
  border-radius:${skin.buttonBorderRadius}px;
  border: {skin.buttonBorderSize}px solid ${skin.buttonBorderColor};
  box-shadow: 1px 1px 2px #${skin.buttonBoxShadowColor};
  background-color: ${skin.buttonBGColor};
  text-decoration: ${skin.buttonTextDec};
  padding: 0px 2px 0px 2px; // left and right padding
}

a.button:link {color:${skin.buttonLinkUnvisitedColor};}      /* unvisited link */
a.button:visited {color:${skin.buttonLinkVisitedColor};}  /* visited link */
a.button:hover {background-color:#${skin.buttonLinkHoverColor};}  /* mouse over link */
a.button:active {color:${skin.buttonLinkSelectedColor};}  /* selected link */

a.logo:link {text-decoration:none;}
a.logo:visited {text-decoration:none;}
a.logo:hover {text-decoration:none;}
a.logo:active {text-decoration:none;}

.post {
  padding: 10px 0px 0px 0px;
}