#{extends 'two_panel.html' /}

	<div id="contentArea-AutoPage">
		<h1>${group.groupName}</h1>
		<hr />
		<h2>${group.description}</h2>
		<h3>The group is owned by ${group.owner}</h3>
		<h4>The Group members:</h4>
		#{list items:group.members, as:'member'} <a
			href="@{Application.about(member.id)}">${member.name}</a><br>
		#{/list} <br /> #{if user.id == currentUser.id} #{form @Groups.newGroupPost(group.id,user.id)}
		<div class="ui_InputContainer">
			<textarea name="post_content" id="postContent" class="ui_TextArea"
				style="resize: none;" rows="2" cols="45"></textarea>
			<input type="submit" value="Post" id="postSubmit"
				class="ui_TextAreaButton" />
		</div>
		#{/form} #{/if}

	</div>

	#{list items:group.getPosts(), as:'item'}
	<div class="post">
		<div class="hideable">
			<div class="left">
				<img style="width: 50px; height: 50px;"
					src=@{Photos.getPhoto(item.author.profile.profilePhoto)} />
			</div>

			<div class="individual-post">
				<span class="post-author"><a
					href="@{Application.news(item.author.id)}">${item.author.name}</a></span>
				<div class="post-content tohideopp">
					${item.contentTeaser().nl2br()} <a class='triggershow showfirst'
						href='#' onclick='return false;'> +more </a>
				</div>
				<div class="tohide hide">
					<div class="post-content">${item.content.nl2br()}</div>
					#{list items:item.getComments(), as:'comment'}
					<div class="comment">
						<div class="comment-metadata">
							<div class="comment-author">by ${comment.author},</div>
							<div class="comment-date">${comment.updatedAt.format('dd MMM yy')}</div>
							#{if comment.author == currentUser.first_name} <a class=button
								href="@{Comments.deleteComment(comment.id,user.id)}">delete</a>
							#{/if} #{ if comment.currentUserLiked()} <a class=button
								href="@{Comments.unLike(comment.id,user.id)}"> Unlike</a> #{/if}
							#{else} <a class=button
								href="@{Comments.addLike(comment.id,user.id)}">Like</a> #{/else}
							<div>${comment.likes.size()} likes</div>
						</div>
						<div class="comment-content">
							${comment.content.escape().nl2br()}</div>
					</div>
					#{/list} <a class='triggerhide' href='#' onclick='return false;'>
						-less<br />
					</a>
				</div>

				<div class="individual-post-metadata">
					${item.likes.size()} #{if user.isFriendsWith(currentUser) || user==currentUser} #{ if item.currentUserLiked()} <a
						href="@{Application.unLike(item.id,user.id)}">Unlike</a> #{/if}
					#{else} <a href="@{Application.addLike(item.id,user.id)}">Like</a>
					#{/else} #{/if} . <a href="#"
						onclick="showDiv('comment ${item.id}')">Comment</a> .
					${item.updatedAt.format('dd MMM yy')} #{if item.author == currentUser} . <a href="@{Posts.deletePost(item.id,user.id)}">delete
						my post</a> #{/if}

					<div id="comment ${item.id}" style="clear: both;"
						class="comment-textarea">
						#{form @Comments.postComment(item.id, user.id, commentContent)}
						<div style="clear: both;">
							<textarea name="commentContent" id="commentContent"
								style="width: 420px; padding: 2px; height: 20px; display: block; font-family: serif; resize: none; overflow-y: hidden;"></textarea>
						</div>
						<input type="submit" value="Comment"
							style="clear: right; margin-top: 3px;" /> #{/form}
					</div>
				</div>
			</div>
		</div>
	</div>
	#{/list}


<script>
  $('textarea#postContent').autoResize({
  maxHeight: 150,
  minHeight: 50,
  extraSpace: 30
  });
  /* use jQuery to set the size of the button to sit flush, because buttons do not take height:100% well*/
  $('input#postSubmit').css('height', $('textarea#postContent').height());
  $('textarea#commentContent').autoResize({
  maxHeight: 70,
  minHeight: 20,
  extraSpace: 20
  });
</script>
