<base target="_parent" />
<div  width = "150" height = "500" style = "
    
    text-align: center;
  "
  >
	<div width = "100%" height = "100" 
		style = "
			background-image: url(${skin.get("headerBGPhoto")});
			background-repeat: repeat-x; 
			background-color: #${skin.get("headerBGColor")};
			font-weight: bold;
	  	font-family: Arial;
	  	font-size: 20px;
	  	color: white;
	  	padding: 0px 10px 0px 20px;
	  	position: relative;
	 		"	
		>
		&{'skin.openBook'}
	</div>
	
  <div width = "300" height = "400"
			style = "
			background-image:url(${skin.get("bodyBGPhoto")});
      background-color: #${skin.get("bodyBGColor")};
			font-family: Arial;
			font-size: ${skin.get("labelFontSize")}pt;
	 		color: #${skin.get("labelColor")};
	 		text-align: center;
	 		position: absolute;
	 		top: 24;
	 		bottom: 0;
	 		width: 150px;
	 		"
		>
		<br>
		&{'skin.thisIsTheSkin'}:	<br>	<b>${skin.skinName}.</b> <br>
		&{'skin.exampleTxt'}
		<br> <br>
    <a href="@{Skins.changeSkinToTemplate(skin.skinName)}">&{'skin.setSkinAsMySkin'}</a>
	</div>
	
</div>
