#{extends 'three_panel.html' /}

<div id="contentArea-BigPage">

	<h2>Link a new video</h2>
	<hr />

	<div id="content-middle">
		<link rel="stylesheet" type="text/css" media="screen"
			href="/public/stylesheets/photos.css" />
		#{ifErrors}
		<ul class="errors">
			#{errors}
			<li>${error}</li> #{/errors}
		</ul>
		#{/ifErrors}

		<div class="photo-upload">
			#{form @Videos.createLinkedVideo(), enctype:'multipart/form-data'} 
  			<table>
  			  <tr>
    			  <td><label>Title: </td>
    			  <td><input type="text" name="video_title" /></td>
    			</tr>
    			<tr>
    			  <td><label>Link: </td>
    			  <td><input type="text" name="video_link" /></td>
    			</tr>
    			<tr>
    			  <td><label>Caption: </td>
    			  <td>
    			    <textarea name="video_caption" rows="3" cols="30">
    			    </textarea>
    			  </td>
    			</tr>
    		  <tr>
    		    <td><label>
      			<input type="submit" name="submit" value="Link" /> 
          </tr>
    		</table>
			#{/form}
		</div>

		<ul class="photo-list">
			#{list items:videos, as:'video'}
  			<li>
  			  <a href="@{Videos.showLinkedVideo(video.id)}"><img class="thumbnail" src=@{Videos.getThumb(video.id)} />
  				#{if currentUser.equals(video.owner)} 
  				  #{form @Videos.removeVideo(video.id)} <input type="submit" name="submit" value="Delete" /> #{/form} 
  				#{/if}
  			</li> 
			#{/list}
		</ul>
	</div>
	<div id="content-right"></div>

</div>