#{extends 'main.html' /}
<head> 


<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript"> 
  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      zoom: 12,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  }
 
  function codeAddress() {
    var address = document.getElementById("searchTextField").value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map, 
            position: results[0].geometry.location
        });
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }
</script>


<script type'="text/javascript">
	function runscript(){
		document.getElementById("searchTextField").value = "${location}";
		initialize();
		codeAddress();
	
	} 
	</script>
</head> 
<body onload="runscript()">
    
<table>
	<tr >
		<td id = "details">
			${name}<br />
			${privacy} By ${myAuthor}<br />
			${myDate}<br />
			Location: ${location}<br />
			Details: ${description}<br />
		</td>
		<td id = "map" >
			<input id="searchTextField" type="text" size="50">
			<div id="map_canvas" style="width:335px; height:200px"></div>
		</td>
	</tr>
</table>

<h4>The Event members:</h4>
        #{list items:e.members, as:'member'}
        <a href="@{Application.about(member.id)}">${member.name}</a><br>
        #{/list}
</br>

#{if user.id == currentUser.id}
      	  #{form @Events.newEventPost(e.id,user.id)}
            <textarea name="post_content" id="postContent" style="resize: none;" rows="2" cols="45"></textarea>
            <input type="submit" value="Post" />
          #{/form}
    #{/if}
    #{list items:e.getPosts(), as:'item'}
      <div class="post">
        <div class="hideable">
          <div class="left">
            <img style="width:50px; height:50px;" src=@{Photos.getPhoto(item.author.profile.profilePhoto)} />
          </div>
          
          <div class="individual-post">
            <span class="post-author"><a href="@{Application.news(item.author.id)}">${ item.author.name }</a></span>
            <div class="post-content tohideopp">
              ${item.contentTeaser().nl2br()}
              <a class='triggershow showfirst' href='#' onclick='return false;'> +more </a>
            </div>
            <div class="tohide hide">
              <div class="post-content">
                ${item.content.nl2br()}
              </div>
              #{list items:item.getComments(), as:'comment'}
                <div class="comment">
                  <div class="comment-metadata">
                    <div class="comment-author">
                      by ${comment.author},
                    </div>
                    <div class="comment-date">
                      ${comment.updatedAt.format('dd MMM yy')}
                    </div>
                    #{if comment.author == currentUser.first_name}
                      <a class=button href="@{Comments.deleteComment(comment.id,user.id)}">delete</a>
                    #{/if}
                    #{ if comment.currentUserLiked()}
                      <a class=button href="@{Comments.unLike(comment.id,user.id)}"> Unlike</a>
                    #{/if}
                    #{else}
                      <a class=button href="@{Comments.addLike(comment.id,user.id)}">Like</a>
                    #{/else}
                    <div> ${comment.likes.size()} likes</div>                   
                  </div>
                  <div class="comment-content">
                    ${comment.content.escape().nl2br()}
                  </div>
                </div>
              #{/list}
              <a class='triggerhide' href='#' onclick='return false;'> -less<br/></a>
            </div>

            <div class="individual-post-metadata">
              ${item.likes.size()}
              #{if user.isFriendsWith(currentUser) || user==currentUser}
                #{ if item.currentUserLiked()}
                  <a  href="@{Application.unLike(item.id,user.id)}">Unlike</a>
                #{/if}
                #{else}
                  <a href="@{Application.addLike(item.id,user.id)}">Like</a>
                #{/else}
              #{/if}     
              .
              <a href="#" onclick="showDiv('comment ${item.id}')">Comment</a>
              .
              ${item.updatedAt.format('dd MMM yy')}

              #{if item.author == currentUser}
                . <a href="@{Posts.deletePost(item.id,user.id)}">delete my post</a>
              #{/if}

              <div id="comment ${item.id}" style="clear: both;"   class="comment-textarea">
                #{form @Comments.postComment(item.id, user.id, commentContent)}
                  <div style="clear:both;">
                    <textarea name="commentContent" id="commentContent" style="width: 420px; padding: 2px; height: 20px; display: block; font-family: serif; resize: none; overflow-y: hidden;"></textarea>
                  </div>
                  <input type="submit" value="Comment"  style="clear:right;margin-top: 3px;" />
                #{/form}
              </div>
            </div>
          </div>
        </div>
      </div>
    #{/list}
</body>
<a class=button href="@{Events.events()}">< Events</a><br /><br />