#{extends 'three_panel.html' /}
	<div id="contentArea-BigPage">

		<h2>Events</h2>
		<hr />
		<a class=button href="@{Events.addEvent()}">+ Create Event</a><br />
		<br /> To Do: currently only lists events user authored, eventually
		list all attending by start date<br />
		<h3>My Events:</h3>
		#{list items:user.authoredEvents(), as:'authorEvent'} <a
			href="@{Events.displayEvent(authorEvent.id)}">${
			authorEvent.eventName }</a> <a class=button
			href="@{Events.deleteEvent(authorEvent.id, user.id)}">Remove
			Event</a><br /> #{/list}

	</div>

