#{extends 'main.html' /}

<div id = "page">
	#{if page.title == null}
		#{form @Page.savePage()}
			<div width=15%>Title:</div>
			<div><input type=text name=title value="" /></div>
			<div><label>Info:</label></div>
			<div>
				<textarea name=info cols="60" rows="10" value = "">				
				</textarea>
				</div>		
				<div><input type=submit value=Save> <input type=submit value=Cancel /> 
			</div>
		#{/form}
	#{/if}
	#{else}		
			<div width=15% name="title">${page.title}</div>
			<div id="viewAsFan">view as fan</div>
			<div><label>Info:</label></div>
			<div>
				<textarea name=info cols="60" rows="10" value="${page.info}">
					${page.info}
				</textarea>
			</div>		
			<div>
				<input type=submit value=Update onclick="${page.update(page.info)}"> 
				<input type=submit value=Cancel /> 
			</div>
	#{/else}
</div>


