#{extends 'three_panel.html' /}

<div id="contentArea-AutoPage">
  <h1>${user.first_name} ${user.last_name}</h1>
  
  <ul class="nav nav-tabs">
    <li class="active"><a href="#" data-toggle="tab" id="btnInfo">Info</a></li>
    <li><a href="#" data-toggle="tab" id="btnInterests">Interests</a></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active" id="info">
      <p>
        <b>Name</b>: ${user.first_name} ${user.last_name}
        <br/>
        <b>Email</b>: ${user.email}
        <br/>
        <b>Username</b>: ${user.username}
        <br/> 
      </p>   
    </div>
    <div class="tab-pane" id="interests">
      <p>Some listing of interests!</p>
    </div>
  </div>
  
  <script>
    /* It look like Twitter Bootstrap isn't working EXACTLY as intended... so I had to help it along with some JS */
    $("#btnInfo").click(function(){
    $("#btnInfo").tab('show');
    });
    $("#btnInterests").click(function(){
    $("#btnInterests").tab('show');
    });    
  </script>
</div>
#{if user.timeline == null}
  <div class="post" style="width:100%;">
    <h3>Don't have Timeline?</h3>
    <br />
    <a class="btn btn-primary btn-large" href="@{Application.createTimeline(user.id)}" style="color:white;"> Get Timeline</a> 
  </div>
#{/if}

#{else}		
  <div id="timelinePosts">
  
    #{list items:user.timeline.getEvents(), as:'_item'}
      #{include 'tags/post.html' /}
    #{/list} 
  </div>
#{/else}	

<script>
  $('#myTab').tab('show');
</script>			

