<head>
<script src=@{'/public/javascripts/js/jquery-1.7.2.min.js'}></script>
<script src=@{'/public/javascripts/js/jquery-ui-1.8.19.custom.min.js'}></script>

</head>
	<br>
	${page.info}<br>
	<div id="tabs">
		<ul>
      <li><a href="#tabs-1" style="color: #FFDAC6;">Update</a></li>
      <li><a href="#tabs-2" style="color: #FFDAC6;">Upload Photo</a></li>
      <li><a href="#tabs-3" style="color: #FFDAC6;">All Photos</a></li>
    </ul>
    <div id="tabs-1">
    	#{form @Pages.pageUpdate(page.id, info)}
      Admin: ${page.admin}
			<a href="@{Pages.deletePage(page.id)}" style="float:right">Delete this Page</a>
			<br>Info:
			<input type=text name=info value="${page.info}" style="width: 420px; padding: 5px; height: 50px; display: block; font-family: serif; resize: none; overflow-y: hidden;"/><br>
			<div style="float:right">
				<input class="ui_TextBoxButton" style = "width:100%" type=submit value=Save>
			</div>
			#{/form}
    </div>
    <div id="tabs-2">
      #{ifErrors}
      <ul class="errors">
      	#{errors}
        <li>${error}</li>
        #{/errors}
      </ul>
    	#{/ifErrors}
  		<div class="photo-upload">
    		#{form @PGEphotos.addPagePhoto(page.id), enctype:'multipart/form-data'}
      		<input type="file" name="image" style="float:left"/>
      		<input type="submit" name="submit" value="Upload" class="ui_TextBoxButton" />
        #{/form}
    	</div>
    </div>
    <div id="tabs-3">
			<div id="page-box" style="width:100%">
				#{list items:photos, as:'photo'}
					#{photo photo:photo/}
				#{/list}
			</div>
    </div>
  </div>

<script>
	$(function() {
		$( "#tabs" ).tabs({
			collapsible: true,
			selected: -1
		});
	});
</script>
