<script type="text/JavaScript" src="util.js"></script> 
<div class="hideable">
	<a class="triggershow showfirst" href='#' onclick='return false;'>+edit</a>
	<a class="triggerhide" href='#' onclick='return false;'>-done</a>
	<div class="post-teaser tohideopp"></div>
		<div class="post-content tohide hide">
		Admin: ${page.admin} 
		<a href="@{Pages.deletePage(page.id)}" style="float: right">Delete this Page</a> <br>Info:<br>
			#{if page.info != null}
				<textarea name="post_content" id="pageInfo" class="ui_TextBox" rows="2" cols="45" maxlength="400">${page.info}</textarea>
				<input type="submit" value="Save" id="pageUpdate" class="button" style="float:right"/>
			#{/if}
			#{else}
				<textarea name="post_content" id="pageInfo$" class="ui_TextBox" rows="2" cols="45" maxlength="400">write something about the page</textarea>
				<input type="submit" value="Save" id="pageUpdate" class="button" style="float:right"/>
			#{/else}
			<div id="pagelet">
				<a href="">Add a photo</a>
			</div>
	</div>
</div>
