#{extends 'main.html' /} 
#{extends 'three_panel.html' /} 
<div id="contentArea">
#{if page.admin == _user}
<h1>${page.title}</h1>
	<div id="pageInfo${page.id}">${page.info}</div> <br>
		#{include 'Pages/admin.html' /}
	</div>
#{/if} 
#{elseif page != null}
	<h1>${page.title}</h1>
	<div id="pageInfo${page.id}" style="float: left">${page.info}</div>
		<div style="float: right">
			<a class=button id = "fan${page.id}" href='#' onclick="return false;">*{text}*</a>
		</div>
		<hr style="float: left; width: 100%; color: #98AFC7;" />
	</div>
#{/elseif}		       
#{include 'Pages/post.html' /}
</div>

<script>
var fan_${page.id} = ${fan};

function drawFanButton_${page.id}( elem ) {
  if( !fan_${page.id} ) {
    elem.text('Fan');
  } else {
    elem.text('UnFan');
  }
}

drawFanButton_${page.id}( $('#fan${page.id}') );

$('#fan${page.id}').click(function(){
  var postData = {pid  : ${page.id}};
  var bttn = $(this);
  if( !fan_${page.id} ) {
    $.post("/Pages/fan", postData, function(data) {
      fan_${page.id} = !fan_${page.id};
      drawFanButton_${page.id}(bttn);
    });
  }
  else{
    $.post("/Pages/unfan", postData, function(data) {
      fan_${page.id} = !fan_${page.id};
      drawFanButton_${page.id}(bttn);
    });
  }

});

</script>
