<div class="ui_InputContainer" id="PostContainer"><textarea name="post_content" id="postContent" class="ui_TextArea" rows="2" cols="45" maxlength="400" >new post...</textarea>
  <input type="submit" value="Post" id="postSubmit" class="ui_TextAreaButton" />    
</div>
	
<div id="pagePosts">
		#{list items:page.getPosts(), as:'_item'}
			#{include 'tags/post.html' /}
		#{/list} 
</div>
<script>
  $('input#postSubmit').click(function(event) {
  var postData = {
  postContent : $("textarea#postContent").val(),
  pid : ${page.id}
  };
  $.post("/posts/makeNewPagePost", postData, function(data) {
  var new_item = $(data).hide();
  $("div#pagePosts").prepend(new_item);
  new_item.slideDown();
  $("textarea#postContent").val('');
  });
  });

  /*Show before resizing, with jQuery to avoid glitchy redisplay*/
  $('textarea#postContent').css('display','inline-block');
  $('input#postSubmit').css('display', 'inline-block');

  /*autoResize*/
  $('textarea#postContent').autoResize({
  maxHeight: 150,
  minHeight: 50,
  extraSpace: 30
  });
  
  /*autoResize*/
  $('textarea#commentContent').autoResize({
  maxHeight: 70,
  minHeight: 20,
  extraSpace: 20
  }); 
  
  $('#postContent')
  .focusin(function() {
  if ( this.value == 'new post...' ) {
  this.value = '';    
  }
  })
  .focusout(function() {
  if ( this.value == '' ) {
  this.value = 'new post...';    
  }
  });
</script>
