<div id="comment${_comment.id}" class="row-fluid">
  <div class="comment-content">
    <div class="comment-thumb">
      <img style="width: 30px; height: 30px;" src="@{Photos.getPhoto(_comment.owner.profile.profilePhoto.id)}" />
    </div>
    <div class="comment-author">              
      <a href="@{Users.about(_comment.owner.id)}">${_comment.owner.name}</a>
    </div>
    ${_comment.content.markdown().nl2br()}
  </div>
  <div class="comment-metadata">
    <span id="comment${_comment.id}likes">
      ${_comment.numLikes()} Like#{if _comment.numLikes() != 1}s#{/if}
    </span>
    <button id="likecomment${_comment.id}" class="button" onclick="like(${_comment.id}, 'comment', ${_user.id}, '&{'comment.like'}', '&{'comment.unlike'}')">
      #{if _comment.likedBy(_user)}&{'comment.unlike'}#{/if}
      #{else}&{'comment.like'}#{/else}
    </button>
    <span class="comment-date">
      #{timeago date:_comment.updatedAt /}
    </span>
    #{if _comment.owner.id == _user.id} 
      <button class="button" onclick="deleteThing(${_comment.id}, 'comment')">&{'comment.delete'}</button>
    #{/if} 
  </div>
</div>
