<div id="comment${_comment.id}" class="row" style="background-color:#e8e8e8">
  <div class="span1"></div>
  <div class="comment-content span4">
    <div class="comment-author">              
      <a href="@{Users.about(_comment.owner.id)}">
        <img src="@{Thumbnails.get30x30(_comment.owner.profile.profilePhoto.id)}" width="30" height="30" />
        ${_comment.owner.name}
      </a>
    </div>
    ${_comment.content.markdown().nl2br()}
  </div>
  <div class="comment-metadata span4">
    <span id="comment${_comment.id}likes">
      ${_comment.numLikes()} Like#{if _comment.numLikes() != 1}s#{/if}
    </span>
    <button id="likecomment${_comment.id}" class="button" onclick="like(${_comment.id}, 'comment', ${_user.id}, '&{'comment.like'}', '&{'comment.unlike'}')">
      #{if _comment.likedBy(_user)}&{'comment.unlike'}#{/if}
      #{else}&{'comment.like'}#{/else}
    </button>
    <span class="comment-date">
      #{timeago date:_comment.updatedAt /}
    </span>
    #{if _comment.owner.id == _user.id} 
      <button class="button" onclick="deleteThing(${_comment.id}, 'comment')">&{'comment.delete'}</button>
    #{/if} 
  </div>
  <div class="span7"></div>
</div>
