<ul class="nav nav-list">
  <li class="nav-header">Events</li>
  <li class="divider"></li>
  <li><button class="btn btn-primary" data-toggle="modal" data-target="#eventCreator" ><i class="icon-plus"></i>Create Event</button></li>
  
  <li class="nav-header">${_title_string}</li>
  <li>
    <ul class="unstyled">
      #{list items:_events, as:'event'} 
        <li class="vertical-element">
          <a href="/events/${event.id}">${event.name}</a> 
          #{if event.author.equals(_currentUser)}
            <button class="btn btn-mini btn-danger">
              <a href="@{Events.deleteEvent(event.id)}">
                <i class="icon-minus"></i> Remove Event
              </a>
            </button>
          #{/if}
        </li>
      #{/list}
    </ul>
  </li>
</ul>

<div class="modal hide fade" id="eventCreator" style="display:none">
  <div class="modal-header">
    <a class="close" data-dismiss="modal"><i class="icon-remove"></i></a>
    <h3>Create A New Event</h3>
  </div>
  #{form @Events.event_create()}
    <div class="modal-body">
      <label>Event Name</label>
      <input class="text-input" type="text" name="curEvent.name" />
      <label>Details</label>
      <input class="text-input" type="text" name="curEvent.script" />
      <label>Where</label>
      <input class="text-input" id="mapSearchInput" type="text" name="curEvent.location" onkeypress="return event.keyCode!=13" />
      <label>Start Date</label>
      <label>End Date</label>
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <input type="submit" class="btn btn-success">
        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>
    #{/form}
</div>

<script
   src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places"
   type="text/javascript">
</script>

<script>
  function initialize() {

    var input = document.getElementById('mapSearchInput');
    var autocomplete = new google.maps.places.Autocomplete(input);
  
    autocomplete.bindTo('bounds', map);
  
    google.maps.event.addListener(autocomplete, 'place_changed', function() {
      var place = autocomplete.getPlace(); 
    });
  }
  $('#eventCreator').on('shown', initialize);
</script>
