
<div class="profile-pic">
	<a class="change-img" href="/photos/setProfilePhotoPage">Change picture</a> 
	#{if (_user.profile.profilePhoto == -1 || _user.profile.profilePhoto == null)} 
	<img src="@{Photos.getPhoto(2)}" height="120" width="120" /> 
	#{/if} 
	#{else} 
	<img src="@{Photos.getPhoto(_user.profile.profilePhoto)}" height="120" width="120" /> 
	#{/else}
</div>
<div style="clear: both;text-align:center;width: 100%;">
	<a href="@{Application.account()}"> <span style="font-weight: bold; clear: both; text-align: center;margin-left: auto;margin-right:auto;">${_user.name}</span>
	</a>
</div>

<!--  As much as I want to put a DIV around the menu boxes, we cannot afford to do so (a certain amount of padding will be added automatically and make it look bad. -VA -->
<div class="lhs-navBoxHeader">FAVORITES</div>
<div class="lhs-navBoxBody">
	<a href="@{Application.news()}">News Feed</a> <a
		href="@{Events.events()}">Events</a> <a href="@{Checkin.checkin()}">Checkin</a>
	<a href="@{Messages.inbox()}">Inbox</a> <a href="/requests">Friend
		Requests</a> <a href="/changeSkin">Change Skin</a>
</div>


<div class="lhs-navBoxHeader">GROUPS</div>
<div class="lhs-navBoxBody">
	#{list items:_user.getGroups(), as:'Group'} <a
		href="@{Groups.group(Group.id)}">${Group.groupName}</a><br />
	#{/list} <br />
</div>

<div class="lhs-navBoxHeader">PHOTOS</div>
<div class="lhs-navBoxBody">
	<a href="@{Photos.photos(_user.id)}">My Photos</a> <a
		href="@{Photos.photos()}">All Photos</a> <br />
</div>

<div class="lhs-navBoxHeader">PAGES</div>
<div class="lhs-navBoxBody">
	<a href="@{Pages.pages()}">Pages</a><br /> <br />
</div>

<div class="lhs-navBoxHeader">FRIENDS</div>
<div class="lhs-navBoxBody">

	#{list items:_user.confirmedFriends(), as:'friendship'} <a
		href="@{Application.news(friendship.to.id)}">${ friendship.to.name
		}</a><br /> #{/list} <br /> <a
		href="@{Relationships.relationships(_user.id)}">see all friends..</a><br />
	<br />
</div>

<div class="lhs-navBoxHeader">INTERESTS</div>
<div class="lhs-navBoxBody">

	#{if (_user.subscribedTo.size() > 0)} <a
		href="@{Subscriptions.subscriptions(_user.id)}">Subscriptions</a><br />
	#{/if}
</div>

