<ul class="unstyled well" id="post${_item.id}">
  <li class="individual-post">
    <div class="post-author" style="clear: both;">
      <a href="/users/${_item.owner.id}">
        <img src="@{Thumbnails.get50x50(_item.owner.profile.profilePhoto.id)}" width="50" height="50" />
        ${_item.owner.name}
      </a>
    </div>

    <div class="post-content">
      #{if _item.getClass().getName() == "models.Photo"}
        <div class="post-image">
          <img class="thumbnail" src="@{Photos.getPhoto(_item.id)}" />
        </div>
      #{/if}
      #{elseif _item.getClass().getName() == "models.Link"}
        <div class="post-link">
          <iframe src="${((models.Link)_item).external_url}"></iframe>
        </div>
      #{/elseif}
      #{elseif _item.getClass().getName() == "models.Question"}
        <div class="post-question">
	  #{question currentUser:currentUser, question:_item /}
        </div>
      #{/elseif}
      #{else}
        ${_item.content.markdown().nl2br()}
      #{/else}
    </div>  
  </li>

    <!-- Post Metadata -->  
  <li id="post-metadata-${_item.id}" class="individual-post-metadata" style="margins:0.5em 0;">
    ${_item.comments.size()} Comment#{if _item.comments.size() != 1}s#{/if}.
    <span class="num-likes">${_item.numLikes()}</span>
    <span class="num-likes-text">
      Like#{if _item.numLikes() != 1}s#{/if}.
    </span>
    <button class="button unlike-btn #{if !_item.likedBy(_user)}hide#{/if}"
            onclick="unlike('/posts/${_item.id}/likes', 'post-metadata-${_item.id}')">
      &{'comment.unlike'}
    </button>
    <button class="button like-btn #{if _item.likedBy(_user)}hide#{/if}"
            onclick="like('/posts/${_item.id}/likes', 'post-metadata-${_item.id}')">
      &{'comment.like'}
    </button>
    #{timeago date:_item.updatedAt /}.
    #{if _item.owner ==  _user} 
      <button class="button" onclick="deleteThing(${_item.id}, 'post')">remove post</button> 
    #{/if}
  </li>

  <li id="commentsArea"> 
    <ul id="comment-list${_item.id}" class="unstyled commentsList">
      #{list items:_item.getComments(), as:'comment'} 
        <li style="margin-top:0.5em;">#{comment user:_user, comment:comment /}</li>
      #{/list}
    </ul>
  </li>    
  
  <li id="new_comment_for_post${_item.id}" style="margin-top:1em;">
    <img id="new-comment-profile-pic-${_item.id}" style="vertical-align: top;" class="hide"      
         src="@{Thumbnails.get30x30(_user.profile.profilePhoto.id)}" display="inline" width="30" height="30" />
    <textarea name="comment_content${_item.id}" id="commentContent${_item.id}" placeholder="new comment..." 
              style="color:grey; width: 350px; height: 30px;" resize="vertical" rows="2" cols="35" maxlength="400" ></textarea>
    <button class="button" id="commentSubmit${_item.id}" onclick="submit('commentContent${_item.id}', 'comment-list${_item.id}', '/posts/${_item.id}/comments')">Comment</button>
  </li>
</ul>

<script>
  $('#commentContent${_item.id}').focus(function() {
    $('#new-comment-profile-pic-${_item.id}').removeClass('hide');
  });
  $('#commentContent${_item.id}').blur(function() {
    if($('#commentContent${_item.id}').val() === '')
      $('#new-comment-profile-pic-${_item.id}').addClass('hide');
  });
</script>
