
<div class="lhs-navBoxHeader" style="line-height:25px;padding-left:2px;">RSS FEED</div>
<div class="lhs-navBoxBody">
  <a href="#">Latest News</a>
</div>

<div class="lhs-navBoxHeader" style="line-height:25px;">UPCOMING EVENTS</div>
<div class="lhs-navBoxBody">
  <a href="/events/upcoming">Upcoming Events</a>
</div>

<div class="lhs-navBoxHeader" style="line-height:25px;">ETC</div>
<div class="lhs-navBoxBody">
  <a href="#">Extra Stuff</a>
</div>

<div class="lhs-navBoxHeader" style="line-height:25px;">UPCOMING BIRTHDAYS</div>
<div class="lhs-navBoxBody">
<iframe src="@{UpcomingBirthdays.showUpcomingBirthdays(_user.id)}" width = "158" height = "100%"
	     	 	scrolling = "auto" align = "middle" marginheight = "0" 
	     	 	marginwidth = "0" hspace = "5" vspace = "5" frameborder = "1" style="border:none;"> </iframe> 
</div>
</div>	
