<div class="lhs-navBoxHeader" style="line-height:25px;padding-left:2px;">RSS FEED</div>
<div class="lhs-navBoxBody">
  <a href="#">Latest News</a>
</div>

<div class="lhs-navBoxHeader" style="line-height:25px;">UPCOMING EVENTS</div>
<div class="lhs-navBoxBody">
  <a href="/events/upcoming">Upcoming Events</a>
</div>

<div class="lhs-navBoxHeader" style="line-height:25px;">ETC</div>
<div class="lhs-navBoxBody">
  <a href="#">Extra Stuff</a>
</div>

<div class="lhs-navBoxHeader" style="line-height:25px;">BIRTHDAYS</div>
<div class="lhs-navBoxBody" style="DISPLAY: block">
  <iframe style="DISPLAY: none" id="HiddenDiv" src="@{UpcomingBirthdays.showUpcomingBirthdays(_user.id)}" width = "158" height = "100%"
          scrolling = "auto" align = "middle" marginheight = "0" 
          marginwidth = "0" hspace = "5" vspace = "5" frameborder = "0" style="border:none;">
  </iframe> 
  
  <a id="showDiv" style="DISPLAY: none" onclick ="javascript:ShowHide('HiddenDiv')" href="javascript:;" ><i>Hide    </i><img src="public/images/col.gif" /></a>
  <a id="hideDiv" onclick ="javascript:ShowHide('HiddenDiv')" href="javascript:;" ><i>Show    </i><img src="public/images/exp.gif" /></a>
</div>

<script language="JavaScript">
  function ShowHide(divId) {
    if(document.getElementById(divId).style.display == 'none') {
      document.getElementById(divId).style.display='block';
      document.getElementById('showDiv').style.display='block';
      document.getElementById('hideDiv').style.display='none';

    }
    else {
      document.getElementById(divId).style.display = 'none';
      document.getElementById('showDiv').style.display='none';
      document.getElementById('hideDiv').style.display='block';
    }
  }
</script>

