<div  width = "120" height = "120">
	<div width = "120" height = "40" 
		style = "
			background-image: url(${skin.get("headerBGPhoto")});
			background-repeat: repeat-x; 
			background-color: #${skin.get("headerBGColor")};
			font-weight: bold;
	  		font-family: helvetica
	  		font-size: 20px;
	 		"	
		>
		OpenBook
	</div><br>
		<div width = "120" height = "80"
			style = "
			background-image:url(skin.get("bodyBGPhoto"));
	  		background-color: #${skin.get("bodyBGColor")};
	  		font-size: ${skin.get("labelFontSize")}pt;
	 		font-color: #${skin.get("labelColor")};
	 		"
		>
		${skin.name}
					
	</div>
</div>
