#{extends 'two_panel.html' /}

<div id="contentArea-BigPage">
  
  <h2>Subscriptions:</h2>
  <hr />
  <br />
  <div id="contentArea">
    <div class="subscibeList">
      <span class="note">On the List</span><br />
      #{list items:user.subscribedTo, as:'Subscribed'}
        <a href="@{Application.news(Subscribed.subscribed.id)}">${Subscribed.subscribed.name}</a>
        <br />
      #{/list}
    </div>
    #{list items:user.subscriptionNews(), as:'item'}
      #{post user:user,item:item /}
    #{/list}
  </div>
</div>
