#{extends 'three_panel.html' /}
<link rel="stylesheet" type="text/css" media="screen"
  href="/public/stylesheets/photos.css" />

        <div id="contentArea-AutoPage">

  <h2>Upload a new photo</h2>
  <hr />

  #{ifErrors}
    <ul class="errors">
      #{errors}
        <li>${error}</li>
      #{/errors}
    </ul>
  #{/ifErrors}

  <div class="photo-upload">
    #{form @Photos.addPhoto(), enctype:'multipart/form-data'}
      <input type="file" name="image" />
      <input type="submit" name="submit" value="Upload"
             class="btn btn-primary btn-large" style="display: inline-block;color:white;" />
    #{/form}
  </div>

  <h2>Your photos</h2>
  <hr />

  <ul class="photo-list">
    #{list items:photos, as:'photo'}
      #{photo currentUser:currentUser, photo:photo /}
    #{/list}
  </ul>

</div>
