#{extends 'three_panel.html' /}
<link rel="stylesheet" type="text/css" media="screen"
  href="/public/stylesheets/photos.css" />

<div id="contentArea">

  <h2>Upload a new photo</h2>
  <hr />

  #{ifErrors}
    <ul class="errors">
      #{errors}
      <li>${error}</li> #{/errors}
    </ul>
  #{/ifErrors}

  <div class="photo-upload">
    #{form @Photos.addPhoto(), enctype:'multipart/form-data'} <input
      type="file" name="image" /> <input type="submit" name="submit"
      value="Upload" /> #{/form}
  </div>

  <h2>Your photos</h2>
  <hr />
  <ul class="photo-list">
    #{list items:photos, as:'photo'}
      <li>
        <img class="thumbnail" src=@{Photos.getPhoto(photo.id)} />
        #{if currentUser.equals(photo.owner)}
          <br />
          <a href="@{Photos.removePhoto(photo.id)}"
             class="button">Delete picture</a>
          <br />
          <a href="@{Photos.setProfilePhoto(photo.id)}"
             class="button">Set as profile picture</a>
          <br />
          <a href="@{Skins.setBackgroundPhoto(photo.id)}"
             class="button">Set as background</a>
        #{/if}
      </li>
    #{/list}
  </ul>

</div>
