#{extends 'three_panel.html' /}

<div id="contentArea-BigPage">
  <h2>&{'photo.setProfilePhoto'}</h2>
  <hr />
  
  #{ifErrors}
    <ul class="errors">
      #{errors}
        <li>${error}</li>
      #{/errors}
    </ul>
  #{/ifErrors} 
  
  <a class="button" href="@{Photos.setGravatar()}"><b>&{'photo.useGravatar'}</b></a> 
  <br>
  <a href="https://en.gravatar.com/site/signup/">&{'photo.signUpGravatar'}</a>
  <br>&{'photo.gravatarNote'}</br>
  <br>
  
  
  #{form @Photos.addProfilePhoto(), enctype:'multipart/form-data'} 
    <b> &{'photo.newPhoto'}: </b>
    <input type="file" name="image" />
    <input type="submit" name="submit" class="btn" value=&{'photo.upload'} />
  #{/form}
  <br>
  <b>&{'photo.useExistingPhoto'}</b>
  <br>

  <ul class="photo-list">
    #{list items:photos, as:'photo' }
      <li>
        <img src="@{Photos.getPhoto(photo.id)}" width="120" height="150" />
        #{if currentUser.equals(photo.owner)}
          #{form @Photos.setProfilePhoto(photo.id)}
            <input type="submit" name="submit" class="btn" value=&{'photo.setAsProfilePhoto'} />
          #{/form}
        #{/if}
      </li>
    #{/list}
  </ul>
</div>
