      <div class="post">
        <div class="hideable">
          <div class="left">
            <img style="width:50px; height:50px;" src=@{Photos.getPhoto(item.author.profile.profilePhoto)} />
          </div>
          
          <div class="individual-post">
            <div class="post-author" style="clear:both;"><a href="@{Application.news(item.author.id)}">${ item.author.name }</a></div>
            <div class="post-content tohideopp" style="clear:both;">
              ${item.contentTeaser().nl2br()}
              <a class='triggershow showfirst' href='#' onclick='return false;'> +more </a>
            </div>
            <div class="tohide hide"  style="clear:both; display: none;">
              <div class="post-content">
                ${item.content.nl2br()}
              </div>
              #{list items:item.getComments(), as:'comment'}
                <div class="comment${comment.id}">
                  <div class="comment-metadata">
                    <div class="comment-thumb">
                      <img style="width:50px; height:50px;" src=@{Photos.getPhoto(comment.author.profile.profilePhoto)} /><br>
                    </div>
                    <div class="comment-author">
                      ${comment.author},
                    </div>
                    <div class="comment-date">
                      ${comment.updatedAt.format('dd MMM yy')}
                    </div>
                    <div> ${comment.likes.size()} like#{if comment.likes.size() != 1}s#{/if}</div> 
                    #{if comment.author.id == currentUser.id}
                      <a class=button href="@{Comments.deleteComment(comment.id,user.id)}">delete</a>
                    #{/if}
                    #{ if comment.currentUserLiked()}
                      <a class=button href="@{Comments.unLike(comment.id,user.id)}"> Unlike</a>
                    #{/if}
                    #{else}
                      <a class=button href="@{Comments.addLike(comment.id,user.id)}">Like</a>
                    #{/else}
                                     
                  </div>
                  <div class="comment-content" >
                    ${comment.content.escape().nl2br()}
                  </div>
                </div>
              #{/list}

              <a class='triggerhide' href='#' onclick='return false;'> -less<br/></a>
            </div>

            <div class="individual-post-metadata">
              ${item.likes.size()}
              #{if user.isFriendsWith(currentUser) || user==currentUser}
                #{ if item.currentUserLiked()}
                  <a  href="@{Application.unLike(item.id,user.id)}">Unlike</a>
                #{/if}
                #{else}
                  <a href="@{Application.addLike(item.id,user.id)}">Like</a>
                #{/else}
              #{/if}     
              .
              <a id="comment_action_for_post${item.id}" href="#" onClick="showDiv('new_comment_for_post${item.id}')">Comment</a>
             
              .
              ${item.updatedAt.format('dd MMM yy')}

              #{if item.author == currentUser}
                . <a href="@{Posts.deletePost(item.id,user.id)}">delete my post</a>
              #{/if}

              <div id="comment_for_post${item.id}" style="clear: both;"   class="comment-textarea">
               
              </div>
               #{form @Comments.postComment(item.id, user.id, commentContent)}
                  <div id="new_comment_for_post${item.id}" style="clear:both; display: none;">
                    <img style="width:50px; height:50px;" src=@{Photos.getPhoto(user.profile.profilePhoto)} display="inline"/>
                    <input type="text" name="commentContent" id="commentContent" value="new comment...(limit: 100 characters)" maxlength="100" style="color:grey; width: 320px; padding: 2px; height: 20px; display: inline; font-family: serif; resize: none; overflow-y: hidden;" maxlength="100" onclick="this.value='';"/>
                    <input type="submit" value="Submit" style="display:none"/>
                    <a id="cancel_action_for post${item.id}" href="#" onClick="hideDiv('new_comment_for_post${item.id}')" >Cancel</a>
                  </div>
                #{/form}
            </div>
          </div>
        </div>
      </div>
