#{extends 'main.html' /}

<div>
	<h3 tabindex="0" class="uiHeaderTitle">Profile</h3>
</div>
<div class="globalContentAbout">
	<div class="LeftColumnAbout">
		<div class=button>
			<span id="PanelTitle">Basic Info</span>
			<span id="EditButton">
				<a href="@{Application.edit_basic()}">Edit</a>
			</span>
		</div>
		<table class="uiInfoTable profileInfoTable">
    		<tr>
      			<th class="label">Name</th>
      			<td class="data">${user.name}</td>
    		</tr>
    		<tr>
      			<th class="label">email</th>
      			<td class="data">${user.email}</td>
    		</tr>
    		<tr>
      			<th class="label">Birthday</th>
      			#{if user.birthday}
      			<td class="data">${user.birthday.format('MMM dd ')}</td>
      			#{/if}
    		</tr>
			<tr>
				<th class="label">Sex</th>
				<td class="data">${user.gender}</td>
			</tr>
   			#{if user.significant_other}
    		<tr>
      			<th class="label">Relationship Status</th>
      			<td class="data">In a relationship with <a 		href="@{Application.news(user.significant_other.id)}">${user.significant_other.name}</a>
      			</td>
    		</tr>
  			#{/if}
		</table>
	</div>
	<div class="RightColumnAbout">
	</div>
	<br/><br/>
</div>
</br></br>