#{extends 'main.html' /}

<div>
  <h3 tabindex="0" class="uiHeaderTitle">Profile</h3>
</div>
<div class=button><a href="@{Application.edit_basic()}">Edit</a></div>
<table class="uiInfoTable profileInfoTable">
  <tr>
    <th class="label">Name</th>
    <td class="data">${user.name}</td>
  </tr>
    <tr>
      <th class="label">email</th>
      <td class="data">${user.email}</td>
    </tr>
    <tr>
      <th class="label">Birthday</th>
      #{if user.profile.birthday}
      <td class="data">${user.birthday.format('MMM dd ')}</td>
      #{/if}
    </tr>
		<tr>
			<th class="label">Sex</th>
			<td class="data">${user.profile.gender}</td>
		</tr>
   #{if user.profile.significantOther}
    <tr>
      <th class="label">Relationship Status</th>
      <td class="data">In a relationship with <a href="@{Application.news(user.significantOther.id)}">${user.profile.significantOther.name}</a>
      </td>
    </tr>
  #{/if}
</table>
</div>
