#{extends 'main.html' /}
<div id="content-left">
    [Picture]
    <br/>
    ${user.email}
    
    <br/>
    <a href="@{Application.news()}">News</a>
    <br>
    <a href="@{Events.events()}">Events</a>
    <br>
    <a href="@{Checkin.checkin()}">Checkin</a>
    <br>
    <a href="/requests">Friend Requests</a>
    <br>
    <a href="/skin">Change Skin</a>
    <br>
    <a href="@{Pages.pages()}">Pages</a>
    <br><a href="@{Relationships.relationships(user.id)}">Friends:</a><br>
    #{list items:user.confirmedFriends(), as:'friendship'}
      <a href="@{Application.news(friendship.to.id)}">${ friendship.to.name }</a><br>
    #{/list}
 <br>Groups:<br>
    #{list items:user.getGroups(), as:'Group'}
      <a href="@{Groups.group(Group.id)}">${Group.groupName}</a><br>
    #{/list}
</div>
<div id="content-middle">
   <h1 style="line-height:50%;">${user.name}</h1> 
#{if user.id == currentUser.id}
   <a id="about-button" href="@{Application.edit_basic}">About me</a> <br/> <br/>
   #{/if}
#{else}
   <a id="about-button" href="@{Application.about(user.id)}">About ${user.first_name}</a> <br/> <br/>
   #{/else}
     #{if user.checkFriendship(user.id) == 'Request Friendship'}
       <a id="friend-button" href="@{Application.requestFriends(user.id)}">
         ${user.checkFriendship(user.id)}
       </a>
     #{/if}
     #{elseif user.checkFriendship(user.id) == 'Friendship Requested'}
       Friendship Requested
     #{/elseif}
     #{elseif user.checkFriendship(user.id) == 'Friends'}
       Friends :) 
       <a id="friend-button" href="@{Application.removeFriends(user.id)}">
         Remove friend
       </a>
     #{/elseif}
#{if user.id == currentUser.id}
   #{form @Posts.newPost(user.id, post_content)}
   <div>
      <textarea id="post_content" name="post_content" 
        style="width: 400px; padding: 5px; height: 50px; display: block; font-family: serif; resize: none; overflow-y: hidden;" ></textarea>
      <input type="submit" value="Post" style="float:right" />
   </div>
 #{/form}
#{/if}
  #{list items:user.news(), as:'item'}
    <div class="post">
      <div class="hideable">
        <div class="post-author">
          <a href="@{Application.news(item.author.id)}">${ item.author.name }</a>
        </div>
        <div class="post-content tohideopp">
          ${item.contentTeaser().nl2br()}
          <a class='triggershow showfirst' href='#' onclick='return false;'>+more</a>
        </div>
        <div class="tohide hide">
          <div class="post-content">
            ${item.content.nl2br()}
          </div>
          #{list items:item.getComments(), as:'comment'}
            <div class="comment">
              <div class="comment-metadata">
                <div class="comment-author">
                  by ${comment.author},
                </div>
                <div class="comment-date">
                  ${comment.updatedAt.format('dd MMM yy')}
                </div>
                #{if comment.author == currentUser.first_name}
                    <a class=button href="@{Comments.deleteComment(comment.id,user.id)}">delete</a>
                #{/if}
                #{ if comment.currentUserLiked()}
                  <a class=button href="@{Comments.unLike(comment.id,user.id)}">Unlike</a>
                #{/if}
                #{else}
                  <a class=button href="@{Comments.addLike(comment.id,user.id)}">Like</a>
                #{/else}
                <div> ${comment.likes.size()} likes</div>                   
              </div>
              <div class="comment-content">
                ${comment.content.escape().nl2br()}
              </div>
            </div>
          #{/list}
        <a class='triggerhide' href='#' onclick='return false;'>-less<br/></a>
        </div>
      <div class="post-date">
        ${item.updatedAt.format('dd MMM yy')}
      </div>
      <div>
      #{if item.author == currentUser}
        <a class=button href="@{Posts.deletePost(item.id,user.id)}">delete post</a>
      #{/if}
      </div>
      <div> ${item.likes.size()} likes</div>                 
      #{if user.isFriendsWith(currentUser) || user==currentUser}
       <div>
	      #{ if item.currentUserLiked()}
	        <a class=button href="@{Application.unLike(item.id,user.id)}">Unlike</a>
	      #{/if}
	      #{else}
	        <a class=button href="@{Application.addLike(item.id,user.id)}">Like</a>
	      #{/else}
	     </div>
      #{/if}     
       <div>
         <a class="button"  
           onclick="showDiv('comment ${item.id}')">Comment</a>
       </div>
       <div id="comment ${item.id}" style="display:none;border-width:1px;border-color:black;border-style:solid;margin:0px 20px 0px 20px;">
         #{form @Comments.postComment(item.id, user.id)}
          <textarea name="content" id="content"></textarea><br/>
          <input type="submit" value="Comment" />
          <input type="button" value="Cancel" onclick="hideDiv('comment ${item.id}')" />
         #{/form}      
       </div>
      </div>
    </div>
    <hr style="float:left; width: 100%"/>
    
  #{/list}
</div>
<script>
$('textarea#post_content').autoResize({
  maxHeight: 150,
  minHeight: 50,
  extraSpace: 30
});
</script>
