<!DOCTYPE html >
<html>
  <head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src=@{'/public/javascripts/jquery-1.6.4.min.js'}></script>
    <script src=@{'/public/javascripts/util.js'}></script>
    <script src=@{'/public/javascripts/jquery.autoresize.js'}></script>
    
	  <script type="text/javascript" src="@{'/public/javascripts/calendarDateInput.js'}">
	  </script>
    <link rel="stylesheet" type="text/css" media="screen"
          href="@{Skins.stylesheet()}" />
    <link rel="stylesheet" type="text/css" media="screen"
          href="@{'/public/stylesheets/fthread.css'}" />
    <link rel="shortcut icon" type="image/png"
          href="@{'/public/images/favicon.png'}" />
    <script type="text/javascript" src="public/javascripts/comments.js"></script>
    <script type="text/javascript" src="public/javascripts/jquery.autoresize.js"></script>
  </head>
  <body>
    <div id="wrapper">
	    <div id="header">
	      <a id="logo" class="logo" href="@{Application.news()}">Openbook</a>
	      #{form action:@UserSearch.search().remove('page'), method:'GET', style:'display:inline'}
	         <input type="text" name="search" value="${params.search?.escape()?.raw()}" /> <input type="submit" value="&{'elasticsearch.search'}" />
	      #{/form}
	      Hello 
	      <a href="@{Application.account()}">${currentUser.first_name} ${currentUser.last_name}</a>!
	      <a id="logout" href="@{Secure.logout()}">Logout</a>
	    </div>
      <div class="main-content">
	      #{doLayout /}
	    </div>
	    <div id="footer">
	      <hr/>
	      <span class="logo">openbook</span> is a 
	      <a href="http://www.cs.utexas.edu/~wcook/Courses/devclass/index.htm">class project</a>
	      to create a simple social networking web site
	    </div>
    </div>
  </body>
</html>
