<!DOCTYPE html >
<html>
  <head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src=@{'/public/javascripts/jquery-1.6.4.min.js'}></script>
    <script src=@{'/public/javascripts/util.js'}></script>
    <script src=@{'/public/javascripts/jquery.autoresize.js'}></script>
    
    <script type="text/javascript" src="@{'/public/javascripts/calendarDateInput.js'}"></script>
    <script type="text/javascript" src="public/javascripts/comments.js"></script>
    <script type="text/javascript" src="public/javascripts/jquery.autoresize.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="@{Skins.stylesheet()}" />
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/fthread.css'}" />
    <link rel="stylesheet" type="text/css" media="screen" href="@('/public/stylesheets/960.css'}" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../public/stylesheets/960.css" /><!-- using this because above line isn't working atm.. -->

    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
  </head>
  <body>
    <div class="container_16">
      <header id="header">
	<a id="logo" class="logo" href="@{Application.news()}">Openbook</a>
        <a href="#"><img src="@{'public/images/friend_request_icon.png'}" /></a>
        <a href="#"><img src="@{'public/images/messages_icon.png'}" /></a>
        <a href="#"><img src="@{'public/images/notifications_icon.png'}" /></a>
	#{form action:@UserSearch.search().remove('page'), method:'GET', style:'display:inline'}
	  <input type="text" name="search" value="${params.search?.escape()?.raw()}" /> <input type="submit" value="&{'elasticsearch.search'}" />
	#{/form}
        <div class="account">
	  <a href="@{Application.account()}">
            <img style="width:30px; height:30px; vertical-align:middle" src=@{'/public/images/header-profile.jpg'} /> ${currentUser.first_name} ${currentUser.last_name}
          </a>
          <a href="@{Application.news()}">Home</a>
	  <a href="@{Secure.logout()}">Logout</a>
        </div>
      </header>
      <div class="main-content">
	#{doLayout /}
      </div>
      <footer id="footer">
	<span class="logo">openbook</span> is a 
	<a href="http://www.cs.utexas.edu/~wcook/Courses/devclass/index.htm">class project</a>
	to create a simple social networking web site
      </footer>
    </div> <!-- end .container_24 -->
  </body>
</html>
