#{extends 'main.html' /}

<div id="forumContainer">
	<div id="forumHeader">
		<div class="headerLeft"><a href="/threads">Forum</a> / <a href="/threads/${thread.category.id}">${thread.category.name}</a> / Thread: ${thread.title}</div>
	</div>
 	
 	<div class="forumInner">
	 	<div class="threadAuthorInfo">
		 	<a href="">${thread.author}</a>:<br />
		 	${thread.postedAt.format('M-d-yy, h:mm a')}
	 	</div>
	 	
	 	<div class="threadContent"> 
	 		${thread.content}
	 	</div>
	</div>
	
	
	#{list items:thread.comments(), as:'comment'}
	
		<div class="forumInner">
			<div class="threadAuthorInfo">
				<a href="">${comment.author}</a>:<br />
			 	${comment.date.format('M-d-yy, h:mm a')}
		 	</div>
		 	
		 	<div class="threadContent"> 
	 			${comment.content.escape().nl2br()}
	 		</div>
		 </div>
	#{/list}
</div>

<div style="clear:both;"></div>